<template>
  <div class="mainbox">
    <Header :title="'Любимые герои'"
            :genders="genders"
            :currentGender="currentGender"
            @changeCurrentGender="changeCurrentGender"
    >
      <template v-slot:input>
        <input v-model="search" type="text" placeholder="поиск">
      </template>
    </Header>
    <div v-if="loading || favoritePeople.length === 0" class="cards__loader">
      <Loader v-if="loading" />
      <div v-else class="cards__empty">
        Пусто
      </div>
    </div>
    <Cards v-else>
      <Card v-for="item in createFavoritePeoplePage()"
            :key="item.name"
            :data="item"
            :index="indexPeople(item)"
            :favorite="isFavorite(item.name, favoriteList)"
            :homeworldName="item.homeworldName"
            :homeworldLoading="item.homeworldLoading"
            @likeCharacter="likeCharacter"
      />
    </Cards>
    <Pag v-if="!loading && favoritePeople.length !== 0 && totalPages > 1"
          @changePage="changePage"
         :currentPage="currentPage"
         :totalPages="totalPages"
    />
  </div>
</template>
<script>
import Cards from '../components/Cards'
import Card from '../components/Card'
import Header from '../components/Header'
import Loader from '../components/Loader'
import Pag from '../components/Pag'
import { peopleList } from '../components/mixins/peopleList'

export default {
  components: {
    Cards,
    Card,
    Header,
    Loader,
    Pag
  },
  mixins: [peopleList],
  data: () => ({
    currentPage: 1,
    totalPages: 1
  }),
  methods: {
    createFavoritePeoplePage () {
      if (this.currentPage > this.totalPages) this.currentPage = this.totalPages
      if (this.currentPage === 0) this.currentPage = 1
      const { favoritePeople, pageSize } = this
      if ((favoritePeople.length % pageSize) !== 0) {
        this.totalPages = ((favoritePeople.length - favoritePeople.length % pageSize) / pageSize) + 1
      } else {
        this.totalPages = ((favoritePeople.length - favoritePeople.length % pageSize) / pageSize)
      }
      let localFavoritePeople = [ ...favoritePeople ]
      const page = localFavoritePeople
              .splice((pageSize * (this.currentPage - 1)), pageSize)
      return page
    }
  }
}
</script>
