<template>
  <div class="mainbox">
    <Header :title="'Главная'"
            :genders="genders"
            :currentGender="currentGender"
            @changeCurrentGender="changeCurrentGender"
    >
      <template v-slot:input>
        <input v-model="search" type="text" placeholder="поиск">
      </template>
    </Header>
    <div v-if="loading" class="cards__loader">
      <Loader v-if="loading" />
      <div v-else class="cards__empty">
        Пусто
      </div>
    </div>
    <Cards v-else>
      <Card v-for="item in createPeoplePage()"
            :key="item.name"
            :data="item"
            :index="indexPeople(item)"
            :favorite="isFavorite(item.name, favoriteList)"
            :homeworldName="item.homeworldName"
            :homeworldLoading="item.homeworldLoading"
            @likeCharacter="likeCharacter"
      />
    </Cards>
    <Pag v-if="!loading"
          @changePage="changePage"
         :currentPage="currentPage"
         :totalPages="totalPages"
    />
  </div>
</template>
<script>
  import Cards from '../components/Cards'
  import Card from '../components/Card'
  import Header from '../components/Header'
  import Loader from '../components/Loader'
  import Pag from '../components/Pag'
  import { peopleList } from '../components/mixins/peopleList'

  export default {
    components: {
      Cards,
      Card,
      Header,
      Loader,
      Pag
    },
    mixins: [peopleList],
    data: () => ({
      currentPage: 1,
      totalPages: 1
    }),
    methods: {
      createPeoplePage () {
        const { filteredPeople, pageSize } = this
        if ((filteredPeople.length % pageSize) !== 0) {
          this.totalPages = ((filteredPeople.length - filteredPeople.length % pageSize) / pageSize) + 1
        } else {
          this.totalPages = ((filteredPeople.length - filteredPeople.length % pageSize) / pageSize)
        }
        let localFilteredPeople = [ ...filteredPeople ]
        let page = localFilteredPeople
                .splice((pageSize * (this.currentPage - 1)), pageSize)
        return page
      }
    }
  }
</script>
