<template>
    <div class="card__box">
        <div class="card__head">
            <div class="card__img">
                <div class="card__img-loader">
                    <Loader />
                </div>
                <img :src="`https://starwars-visualguide.com/assets/img/characters/${index+1}.jpg`" alt="character">
            </div>
            <div class="card__like" @click="likeCharacter">
                <img v-if="favorite" src="assets/imgs/heart_active.svg" alt="heart">
                <img v-else src="assets/imgs/heart.svg" alt="heart">
            </div>
        </div>
        <div class="card__titlebox">
            {{ data.name }}
        </div>
        <div class="desc__box">
            <div class="desc__item">
                <div class="desc__title">
                    Родная планета:
                </div>
                <div class="desc__value">
                    <div v-if="!homeworldLoading">
                        {{ homeworldName || '-'}}
                    </div>
                    <div v-else>
                        <Loader :shape="2" />
                    </div>
                </div>
            </div>
            <div class="desc__item">
                <div class="desc__title">
                    Пол:
                </div>
                <div v-if="data.gender === 'male'" class="desc__value">
                    муж
                </div>
                <div v-if="data.gender === 'female'" class="desc__value">
                    жен
                </div>
                <div v-if="data.gender === 'n/a'" class="desc__value">
                    н/д
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Loader from './Loader'

export default {
    components: {
        Loader
    },
    props: {
        data: Object,
        index: Number,
        homeworldName: String,
        homeworldLoading: Boolean,
        favorite: Boolean
    },
    methods: {
        likeCharacter () {
            this.$emit('likeCharacter', this.data.name)
        }
    }
}
</script>