<template>
    <div class="header">
        <div class="header__item">
            <div class="header__line"></div>
            <div class="header__title">
                {{ title }}
            </div>
        </div>
        <div class="header__item">
            <div class="filter__box">

                <div class="filter__title">
                    Фильтр:
                </div>
                <div v-for="(item, i) in genders"
                     :key="`gender-${i}`"
                     :class="[{ 'filter__item_active': currentGender === item }, 'filter__item']"
                     @click="changeCurrentGender(item)"
                >
                    {{ item }}
                </div>
            </div>
        </div>
        <div class="header__item">
            <div class="search__box">
                <div class="search__input">
                    <slot name="input">
                        input
                    </slot>
                </div>
                <div class="search__icon">
                    <img src="assets/imgs/search.svg" alt="icon">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        genders: Array,
        currentGender: String,
        title: String
    },
    methods: {
        changeCurrentGender (value) {
            this.$emit('changeCurrentGender', value)
        }
    }
}
</script>