<template>
    <div>
        <div v-if="shape === 1" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div v-if="shape === 2" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
</template>
<script>
export default {
    props: {
        shape: {
            default: 1,
            type: Number
        }
    }
}
</script>