<template>
    <div class="menu">
        <router-link to="/">
            <div class="menu__item">
                <div class="menu__shadow"></div>
                <div class="menu__text">
                    Главная
                </div>
            </div>
        </router-link>
        <router-link to="/favorite">
            <div class="menu__item">
                <div class="menu__shadow"></div>
                <div class="menu__text">
                    Любимые персонажи
                </div>
            </div>
        </router-link>
    </div>
</template>