<template>
    <div class="pag__container">
       <div class="pag__body">
           <div @click="changePageLeft" class="pag__arrow pag__left">
               <img src="assets/imgs/arrow.svg" alt="">
           </div>
           <div class="pag__num">
               <div class="pag__count">
                   {{ currentPage }}
               </div>
               <div class="pag__total">
                   /
                   {{ totalPages }}
               </div>
           </div>
           <div @click="changePageRight" class="pag__arrow pag__right">
               <img src="assets/imgs/arrow.svg" alt="">
           </div>
       </div>
    </div>
</template>
<script>
export default {
    props: {
        currentPage: Number,
        totalPages: Number
    },
    methods: {
        changePageLeft () {
            if (1 < this.currentPage) {
                this.$emit('changePage', this.currentPage - 1)
            }
        },
        changePageRight () {
            if (this.totalPages > this.currentPage) {
                this.$emit('changePage', this.currentPage + 1)
            }

        }
    }
}
</script>