<template>
  <div id="app">
    <div class="soul">
      <Menu />
      <router-view/>
    </div>
  </div>
</template>
<script>
import Menu from './components/Menu'

export default {
  components: {
    Menu
  },
}
</script>
<style lang="scss">
  body {
    margin: 0;
  }
  #app {
    width: 100vw;
  }
  .soul {
    background: #363A3F;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Gilroy;
    color: #fff;
  }
  .mainbox {
    max-width: 1170px;
    width: 100%;
  }
  .menu {
    margin: 40px 0 90px;
    display: flex;
    justify-content: center;
  }
  .menu a {
    text-decoration: none;
  }
  .menu__item {
    padding: 0 16px;
    position: relative;
    cursor: pointer;
  }
  .menu a:not(:last-child) {
    margin-right: 16px;
  }
  .menu__shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    background: transparent;
    transition: .35s;
  }
  .menu__text {
    color: #b7b7b7;
    font-size: 20px;
    position: relative;
    transition: .35s;
  }
  .router-link-exact-active .menu__text  {
    color: #FFF;
  }
  .router-link-exact-active .menu__shadow {
    background: #1E2022;
  }

  .header {
    margin: 0 0 45px;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 30px;
  }
  .header__line {
    background: #1E2022;
    width: 6px;
    height: 100%;
  }
  .header__item {
    height: 40px;
    display: flex;
    align-items: center;
  }
  .header__title {
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 0 23px;
  }
  .search__box, .search__input {
    height: 100%;
    width: 100%;
  }
  .search__box {
    position: relative;
    display: flex;
    align-items: center;
  }
  .search__input {
  }
  .search__input input {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    height: 100%;
    border: none;
    background: #1E2022;
    padding: 0 30px 0 16px;
    font-size: 14px;
    color: #FFF;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #8C8C8C;
      text-transform: none;
      font-family: Roboto;
    }
  }
  .search__icon {
    position: absolute;
    right: 14px;
    margin: 2px 0 0;
  }
  .filter__box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  .filter__title {
    margin: 0 18px 0 0;
  }
  .filter__item {
    color: #b7b7b7;
    cursor: pointer;
    transition: .15s;
    &:not(:last-child) {
      margin: 0 12px 0 0;
    }
  }
  .filter__item_active {
    color: #FFF;
  }
  .card__box {
    background: #151617;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 0 0 70px;
  }
  .card__head {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards__loader {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 60px 0 0;
  }
  .card__like {
    opacity: 0;
    transition: .25s;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8E8E8;
    border-radius: 100px;
    img {
      margin: 2px 0 0;
      position: absolute;
    }
  }
  .card__img-loader {
    position: absolute;
  }
  .card__box:hover .card__like {
    opacity: 1;
  }

  .card__img {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    min-height: 371px;
    img {
      position: relative;
      max-width: 100%;
    }
  }

  .card__titlebox {
    line-height: 25px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 20px;
  }
  .cards__empty {
    display: flex;
    align-items: center;
    height: 80px;
    color: #b7b7b7;
  }
  .desc__box {
    margin: 0 16px 20px;
    display: flex;
  }
  .desc__item {
    &:not(:last-child) {
      margin: 0 40px 0 0;
    }
  }
  .desc__title {
    color: #b7b7b7;
    margin: 0 0 5px;
  }
  .desc__value {

  }

  .pag__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 100px;
  }
  .pag__body {
    display: flex;
    align-items: center;
  }
  .pag__num {
    display: flex;
    align-items: flex-end;
    margin: 0 12px;
  }
  .pag__arrow {
    margin: 10px 0 0;
    padding: 9px 8px 4px;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
    border: 1px solid transparent;
    &:hover {
      opacity: 1;
      border-color: #FFF;;
    }
  }
  .pag__count {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 54px;
  }
  .pag__total {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
  }

  .pag__right {
    img {
      transform: rotate(180deg);
    }
  }

  @media (max-width: 1199px) {
    .mainbox {
      max-width: 920px;
    }
    .cards, .header {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 990px) {
    .mainbox {
      max-width: 720px;
    }
    .cards, .header {
      grid-template-columns: 1fr 1fr;
    }
    .header__item:nth-child(2), .header__item:nth-child(3) {
      grid-row-start: 2;
    }
    .filter__box {
      justify-content: flex-start;
    }
    .card__img {
      min-height: initial;
    }
  }
  @media (max-width: 776px) {
    .mainbox {
      max-width: 540px;
    }
    .card__like {
      opacity: 1;
    }
    .card__titlebox {
      font-size: 24px;
    }
    .cards {
      grid-template-columns: 1fr 1fr;
    }
    .header__title {
      font-size: 26px;
      margin: 0 0 0 12px;
    }
  }
  @media (max-width: 576px) {
    .mainbox {
      max-width: 260px;
    }
    .menu__text {
      font-size: 14px;
    }
    .menu__item {
      padding: 0 8px;
    }
    .header__title {
      font-size: 20px;
    }
    .cards {
      margin: 0 0 26px;
    }
    .pag__arrow {
      margin: 0;
    }
    .pag__container {
      margin: 0 0 50px;
    }
    .pag__count {
      font-size: 40px;
      line-height: 33px;
    }
    .pag__total {
      font-size: 12px;
    }
    .menu {
      margin-bottom: 50px;
    }
    .header {
      grid-template-columns: 1fr;
      grid-gap: 12px;
    }
    .header__item:nth-child(3) {
      grid-row-start: 3 ;
    }
    .cards {
      grid-template-columns: 1fr;
    }
  }

  .lds-ellipsis {
    display: flex;
    position: relative;
    width: 80px;
    height: 19px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('assets/fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    url('assets/fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
    url('assets/fonts/Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-LightItalic.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
    url('assets/fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-ThinItalic.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
    url('assets/fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-BlackItalic.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
    url('assets/fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('assets/fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
    url('assets/fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
    url('assets/fonts/Gilroy/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-SemiBoldItalic.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('assets/fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-Light.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('assets/fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-ExtraBoldItalic.eot');
    src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
    url('assets/fonts/Gilroy/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-ExtraBoldItalic.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('assets/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
    url('assets/fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('assets/fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('assets/fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('assets/fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('assets/fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
    url('assets/fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('assets/fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Gilroy/Gilroy-Black.woff') format('woff'),
    url('assets/fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('assets/fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('assets/fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-Italic.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('assets/fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
    url('assets/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('assets/fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('assets/fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-BoldItalic.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('assets/fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-ThinItalic.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
    url('assets/fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-Black.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
    url('assets/fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-Light.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('assets/fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-LightItalic.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('assets/fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
    url('assets/fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Roboto/Roboto-Thin.woff') format('woff'),
    url('assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

</style>
